*,
*::after,
*::before {
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    font-size: 16px;
}

iframe {
    border: 0;
}

.styleguide {
    display: flex;
    flex-wrap: nowrap;
}

.styleguide-frame {
    position: relative;
    padding-top: 50px;
    flex: 0 0 auto;
    overflow: hidden;
    border-right: 1px solid black;
}

.styleguide-title {
    position: fixed;
    background: black;
    color: white;
    z-index: 1000;
    top: 0;
    padding: 10px 5px;
    font-weight: bold;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.styleguide-title-name {
    font-size: 28px;
    line-height: 30px;
    padding: 0 5px;
}

.styleguide-title-dimensions {
    font-size: 14px;
    line-height: 30px;
    padding: 0 5px;
}
