<!DOCTYPE html>
<html lang="{{ app.request.locale }}">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <link rel="stylesheet" href="/bundles/massivestyleguide/css/base-text.css">
    {% block style %}{% endblock %}

    <style>
        {% set frameWidth = frameWidth|default(360) %}
        {% set containerHeight = containerHeight|default(100) %}

        body {
            width: {{ frameWidth }}px !important;
        }

        .styleguide-container {
            height: {{ containerHeight }}px;
        }
    </style>
</head>
<body>
    <div class="styleguide-container" style="height: auto;">
        <a class="styleguide-download" data-sketch-download>
            <img src="/bundles/massivestyleguide/images/sketch.svg" alt="Sketch">
            <div>Download</div>
        </a>
    </div>

    <!-- Text -->
    {% block text %}
        <div class="styleguide-container" style="height: 600px">
            <!-- Paragraphs -->
            <p>
                This is a <br>
                basic text with a break.
            </p>

            <p>
                <strong>Bold</strong>
                <em>Italic</em>
                <sup>Sup</sup>
                <s>Strike</s>
                <sub>Sub</sub>
                <a href="#">Link</a>
            </p>

            <p>
                This is another <br>
                paragraph.
            </p>

            <!-- Unordered List -->
            <ul>
                <li>
                    Unordered List
                </li>

                <li>
                    Unordered List
                    <ul>
                        <li>
                            Unordered List<br>
                            with break
                        </li>

                        <li>
                            Unordered List
                        </li>
                    </ul>
                </li>

                <li>
                    Unordered List<br>
                    with break
                </li>
            </ul>

            <!-- Ordered List -->
            <ol>
                <li>
                    Ordered List
                </li>

                <li>
                    Ordered List
                    <ol>
                        <li>
                            Ordered List
                        </li>

                        <li>
                            Ordered<br>
                            List
                        </li>
                    </ol>
                </li>

                <li>
                    Ordered<br>
                    List
                </li>
            </ol>
        </div>
    {% endblock %}

    {% block colors %}
        <!-- Colors -->
        <div class="styleguide-sub-title">
            Text colors
        </div>

        <div id="colors" class="styleguide-colors">

        </div>
    {% endblock %}

    {% block headlines %}
        <!-- Headlines -->
        <div class="styleguide-sub-title">
            Headlines
        </div>

        {% block h1 %}
            <div class="styleguide-container styleguide-container--h1">
                <h1>
                    Headline H1<br/>
                    with a break
                </h1>
            </div>
        {% endblock %}

        {% block h2 %}
            <div class="styleguide-container styleguide-container--h2">
                <h2>
                    Headline H2<br/>
                    with a break
                </h2>
            </div>
        {% endblock %}

        {% block h3 %}
        <div class="styleguide-container styleguide-container--h3">
            <h3>
                Headline H3<br/>
                with a break
            </h3>
        </div>
        {% endblock %}

        {% block h4 %}
            <div class="styleguide-container styleguide-container--h4">
                <h4>
                    Headline H4<br/>
                    with a break
                </h4>
            </div>
        {% endblock %}

        {% block h5 %}
            <div class="styleguide-container styleguide-container--h5">
                <h5>
                    Headline H5<br/>
                    with a break
                </h5>
            </div>
        {% endblock %}

        {% block h6 %}
            <div class="styleguide-container styleguide-container--h6">
                <h6>
                    Headline H6<br/>
                    with a break
                </h6>
            </div>
        {% endblock %}
    {% endblock %}

    {% block content %}{% endblock %}

    {% block script %}{% endblock %}

    <script>
        var stringToColor = function(str) {
            var hash = 0;
            for (var i = 0; i < str.length; i++) {
                hash = str.charCodeAt(i) + ((hash << 5) - hash);
            }

            var color = '#';

            for (var i = 0; i < 3; i++) {
                var value = (hash >> (i * 8)) & 0xFF;
                color += ('00' + value.toString(16)).substr(-2);
            }

            return color;
        };

        var rgb2hex = function (rgb) {
            rgb = rgb.match(/^rgb\((\d+),\s*(\d+),\s*(\d+)\)$/);
            function hex(x) {
                return ("0" + parseInt(x).toString(16)).slice(-2);
            }
            return "#" + hex(rgb[1]) + hex(rgb[2]) + hex(rgb[3]);
        };

        var colors = [];

        $('.styleguide-container').each(function(i) {
            var $element = $(this).find('*').last();
            var $styleGuideIdenticator = $('<div/>');
            var styles = '';
            var color = rgb2hex($element.css('color'));

            if (colors.indexOf(color) === -1) {
                colors.push(color);
            }

            styles += 'color:          ' +  color + "\n";
            styles += 'font-size:      ' +  $element.css('font-size') + "\n";
            styles += 'line-height:    ' +  $element.css('line-height') + "\n";
            styles += 'font-weight:    ' +  $element.css('font-weight') + "\n";
            styles += 'font-style:     ' +  $element.css('font-style') + "\n";
            styles += 'letter-spacing: ' +  $element.css('letter-spacing');

            var backgroundColor = stringToColor(
                styles.replace('color:         ', '')
                    .replace('font-size:     ', '')
                    .replace('line-height:     ', '')
                    .replace('font-weight:     ', '')
                    .replace('font-style:     ', '')
                    .replace('letter-spacing: ', '')
            );

            $styleGuideIdenticator.css('backgroundColor', backgroundColor);
            $styleGuideIdenticator.addClass('styleguide-identicator');
            $styleGuideIdenticator.attr('data-styles', styles);

            if ($(this).find('.hide-desktop').length) {
                $styleGuideIdenticator.addClass('hide-desktop');
            } else if ($(this).find('.hide-mobile').length) {
                $styleGuideIdenticator.addClass('hide-mobile');
            }

            $(this).append($styleGuideIdenticator);
        });

        colors.sort();

        $.each(colors, function(key, value) {
            var $color = $('<div/>');
            $color.text(value);
            $color.addClass('styleguide-color');
            $color.css('backgroundColor', value);

            $('#colors').append($color);
        });
    </script>

    <script src="/bundles/massivestyleguide/js/main.js"></script>
</body>
</html>
